.browse_talent .title-box{
    margin-top: 20px;
}
.table{

    overflow-x: scroll;
    overflow-y: scroll;
    width: 100%;
    height: 400px;
    background: #ffffff
}

/* th,tr{
    padding: 20px;
    margin: 10px;
    width: 250px;
}

td{
    width: 70%;
} */