.main nav ul a,
nav .brand-logo {
  color: #444;
}

.main p {
  line-height: 2rem;
}

.main .sidenav-trigger {
  color: #26a69a;
}

.main h2{
  font-weight: bold;
}

.main .section{
  max-height: 400px;
}
.main .btn{
  height: 60px;
  width: 180px;
  border-radius: 10px;
  font-size: 100%;
  text-align: center;
  margin: auto;
  line-height: 22px;
 
  /* padding-top: 5px; */
  /* background: #ffffff; */
  /* color: #ffffff */
}
.main h5{
  font-weight: 500;
}
.main .parallax-container {
  margin-top: 0px;
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
 .main .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .main .parallax-container .section {
    position: absolute;
    top: 40%;
  }
 .main #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
 h6{
  font-weight:500;
}
footer.page-footer {
  margin: 0;
}